<!DOCTYPE html>
<title>{% block title %}Админ-Панель{% endblock %}</title>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="http://localhost:8000/assets/adminlte.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="http://localhost:8000/assets/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="http://localhost:8000/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <script src="http://localhost:8000/assets/plugins/jquery/jquery.min.js"></script>
    <script src="http://localhost:8000/assets/adminlte.js"></script>
    <link rel="icon" href="http://localhost:8000/assets/images/icon.png" type="image/x-icon">
    <!-- Theme style -->
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    {% include 'admin/layouts/navbar.twig' %}
    {% block content %}
    {% endblock %}
    {% include 'admin/layouts/footer.twig' %}

</body>
<style>
    .validation_err{
        color: red;
        font-size: 90%;
    }
</style>
</html>

