<footer style="">
    <div id="div_foot">
        <div id="copyright_foot">
            <div>FushiManga</div>
            <div>©2017-2024</div>
        </div>
        <div id="navigations_foot">

            <div>
                <a class="foot_nav_elem" href="#" ><div>О компании</div></a>
                <a class="foot_nav_elem" href="#"><div>Вакансии</div></a>
            </div>
            <div>
                <a class="foot_nav_elem" href="#"><div>Доставка</div></a>
                <a class="foot_nav_elem" href="#"><div>Условия возврата</div></a>
                <a class="foot_nav_elem" href="#"><div>Стоимость доставки</div></a>
            </div>
        </div>

    </div>
</footer>