{% extends 'app.twig' %}

{% block title %}Не найдено{% endblock %}

{% block content %}
    <div id="main">
        <div id="catalog" style="width: 1000px; height: 400px;border-radius: 10px; margin-bottom: 270px">
            <div id="catalog_nav" style="border: none; padding-top: 20px">
                <div id="filters" style="">
                    <div style="margin: 8px; font-size: 120%; display: flex; align-items: center;justify-content: center; width: 1000px ">
                        <div>404 Страница Не Найдена</div>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}