{% extends 'app.twig' %}

{% block content %}
    <div id="main">
        <div id="home_head" style="margin-top: 20px">
            <div style="font-size: 260%; margin-top: 50px; margin-bottom: 60px">Вакансии</div>
            <div id="home_head_elem1" style="display: flex;margin-top: 10px">
                <img src="http://localhost:8000/assets/images/team.jpg"
                     style="width: 400px;height: 400px;object-fit: cover;object-position: 0 0; filter: blur(1px);">
                <div style="font-size: 130%; margin: 16px; width: 600px"><strong>Специалист по подделкам - 200$</strong><br>
                                Пишите на почту FushiManga@russia.ru
                </div>
            </div>


        </div>
    </div>
{% endblock %}